
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffbc58;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.logo {
  width: 200px;
}
